.DS_Store
.Rproj.user
._*
.R*history
.R*
.*swp
.ipy*
.snake*
.*swo
data
.ipynb_checkpoints
code/.ipynb_checkpoints
code/.R*
code/.*swp
*/*.rds
*/*.bk
*.bk
docs/simulation-simpleveb-boost-ukbchr22.html
docs/simulation-simpleveb-boost2-ukbchr22.html
docs/simulation-mr.ash2s-ukb*.html
